<div class="page-container-0">

	<p style="font-size: 30px"> Blog </p>

	<div class="center">
		<a class="nav" href="/"> Home </a>
	</div>


</div>

<div class="page-container-2">

	<p class="title2"> Coming soon. </p>

</div>