
	<p class="center title1" style="margin-top:10px;margin-bottom:0px">
		Heart Rate Detector
	</p>

	
	<div style="text-align:center">
		<img src="/assets/hr_app_shot_1.jpg" height="150" width="300" style="border-radius:4px">
		<img src="/assets/hr_app_shot_2.jpg" height="150" width="300" style="border-radius:4px">
		<img src="/assets/hr_app_shot_3.jpg" height="150" width="300" style="border-radius:4px">
	</div>

	<div style="text-align: center;margin-top:60px">
		<a class="dl-button" href="https://s3.amazonaws.com/heart_rate_detector/heart_rate_detector.zip" >
			Download
		</a>

		<p style="color: #555; font-size: 16px; margin-top: 40px">
			Just download the zip file above and <br>
			double click the app file inside to run. <br><br>
			<strong> REQUIRED: </strong> you must be running Mac OSX 10.7 or later. <br>Versions for Windows + Linux coming soon.
		</p>
	</div>


<div style="width: 60%;margin-left: 20%;margin-bottom: 100px">


	<hr style="border-color: #e6e6e6;margin-top:35px">

	<div style="margin-top:30px;color:#656565">
		<p style="color:#00A480;">
			Synopsis
		</p>

		<p style="margin-top:20px;font-size:18px"> 
			This program uses your webcam to look at your face for ~1 min and calculates your heart rate. Accuracy is within ~3 beats of actual heart rate. 
		</p>

		<p style="color:#00A480;margin-top:30px"> Read before download </p>

		<p style="margin-top:20px;margin-bottom:20px;font-size:18px"> 
			1. Make sure there is good/even lighting on your face. Not extremely bright but enough to clearly see the face. Avoid light sources that cast shadows on your face.
		</p>

		<p style="margin-top:20px;margin-bottom:20px;font-size:18px">
			2. Try to keep your head as still as possible when the program is recording data from your face. The best way to do this is to focus your eyes directly on the camera lens. By the same token, have the laptop sit on a stationary desk/table/surface rather than your lap. 
		</p>

		<p style="margin-top:20px; margin-bottom:20px;font-size:18px">
			3. If the program is not latching onto your face, the lighting or setup of the room may be throwing it off. Try rotating the computer or changing the folding angle of the screen to get a lock.
		<p>

		<p style="color:#00A480;margin-top:30px"> Basic Concept </p>

		<p style="margin-top: 20px;font-size:18px">
			Every time your heart contracts, the blood volume in your vessels increases then subsequently tapers off during diastole. The sinusoidal variation in blood flow through the body causes minute skin color changes that the human eye cannot detect but that a common webcam can. By tracking the change in skin color gradients over time, we can correlate this signal to a heart rate via Fast Fourier Transform (FFT). After processing the raw signal and cleaning it up via noise filtering techniques (ie Gaussian blur, band pass filtering, etc.) we extract the dominant frequency of the signal, given in Hertz, and convert to a heart rate, given in beats per minute.
		</p>


		<p style="color:#00A480;margin-top:30px;margin-bottom: 30px"> Tools Used </p>

		<div style="margin-top: 40px">
			<span style="padding:20px;font-size: 18px; background-color: #8181F7; border-radius:2px; color: white"> Python </span>
			<span style="padding:20px;font-size: 18px; background-color: #8181F7; border-radius:2px; margin:10px; color: white"> OpenCV </span>
		</div>

		<p style="color:#00A480;margin-top:50px"> References </p>
		
		<div>
			<p style="font-size:18px"><a href='http://people.csail.mit.edu/mrub/papers/vidmag.pdf'>
				[1] http://people.csail.mit.edu/mrub/papers/vidmag.pdf
			</a></p>

			<p style="font-size:18px"><a href='http://bit.ly/1csZgJC'>
				[2] http://bit.ly/1csZgJC
			</a></p>

		</div>

		<p style="color:#00A480;margin-top:30px"> Licensing </p>

		<p style="font-size:18px"> This software is licensed under the GPL license (<a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a>). </p>

	</div>

</div>

<div class="center" style="margin-bottom:100px">
	<p style="font-size: 16px">
		Created by Mark Amirtharaj
	</p>
</div>