
<div class="page-container-0">
	<p class=" title1 center"> Mark Amirtharaj </p>
	<p class="center"> I like to make stuff. </p>
</div>

<div class="page-container-1">
	<p class="center"> I'm a programmer and medical student interested in the intersection of technology and medicine. </p>
</div>

<div class="page-container-2">
	<p class="title2 center"> Located in </p>

	<div class="dcpic">
		<div class="dcpic-cover">
			<p style="padding-top:170px; font-size: 40px">Washington, DC<p>
		</div>
	</div>
</div>

<div class="page-container-1">
	<p class="title2 center"> School </p>
	<p class="school-spacing center"> 
		Georgetown School of Medicine<br>
		MD, 2017 
	</p>
	
	<p class="school-spacing center"> 
		University of Maryland College Park<br> 
		BS Electrical Engineering, 2012 
	</p>

	<p class="school-spacing center"> 
		Richard Montgomery HS, 2008 
	</p>
</div>

<div class="page-container-2">
	<p class="title2 center"> Links </p>

	<div class="main-links-container center">

		<a class="main-links" href="https://www.github.com/mizark"> Github </a>
		<a class="main-links linkedin" href="http://www.linkedin.com/in/mjamirtharaj"> LinkedIn </a>
		<a class="main-links facebook" href="https://www.facebook.com/mjamirtharaj7"> Facebook </a>

	</div>

</div>

<div class="page-container-1">

	<p class="title2 center"> Contact </p>

	<p class="center"> mja316 at gmail dot com </p>
</div>

<!--

-->