
<div class="page-container-0">
	<img src="/assets/mark.jpg" height="150" width="150" class="profpic">

	<p class=" title1 center"> Mark Amirtharaj </p>
	
	<p class="sub-title center"> I like to make stuff. </p>

	<div class="center">
		<a class="nav" href="/"> Home. </a>
		<a class="nav" href="#about" > About. </a>
		<a class="nav" href="/blog"> Blog. </a>
		<a class="nav" href="#education"> Education. </a>
		<a class="nav" href="#current-projects"> Current Projects. </a>
		<a class="nav" href="#links"> Links. </a>
		<a class="nav" href="#contact"> Contact. </a>
	</div>
</div>

<div id="about" class="page-container-1">
	<p class="title2 center"> In a nutshell </p>
	<p class="center"> 
		I'm a programmer and medical student interested in 
		<br>
		the intersection of technology and medicine. 
	</p>
</div>

<div id="location" class="page-container-2">
	<p class="title2 center"> Located in </p>

	<div class="dcpic">
		<div class="dcpic-cover">
			<p style="padding-top:130px; font-size: 30px">Washington, DC<p>
		</div>
	</div>
</div>

<div id="education" class="page-container-1">
	<p class="title2 center"> Schooled at </p>

	<p class="school-spacing center"> 
		Georgetown University School of Medicine<br>
		MD, 2017 
	</p>
	
	<p class="school-spacing center"> 
		University of Maryland College Park<br> 
		BS Electrical Engineering, 2012 
	</p>
</div>

<div id="current-projects" class="page-container-2">

	<p class="title2 center"> Current Projects </p>

	<a href="https://www.spectize.com" class="project-links spectize"> 
		
		<p>spectize.com</p> 
		
	</a>

	<div class="raspberrypic">
		<div class="raspberrypic-cover">
			<p style="padding-top:60px; font-size: 22px">Various projects with the Raspberry Pi<p>
		</div>
	</div>

</div>


<div id="links" class="page-container-1">
	<p class="title2 center"> Links </p>

	<div class="main-links-container center">

		<a class="main-links github"   href="https://www.github.com/mizark"> Github </a>
		<a class="main-links linkedin" href="http://www.linkedin.com/in/mjamirtharaj"> LinkedIn </a>
		<a class="main-links twitter"  href="/twitter"> Twitter </a>
	</div>
</div>

<div id="contact" class="page-container-2">
	<p class="title2 center"> Contact</p>
	<p class="center"> mja316 at gmail dot com </p>
</div>

<div class="page-container-0">
	<p class="caption"> Created by Mark Amirtharaj &#169; 2013<p>
</div>



<!--

-->