<p class="title1 center" style="margin-top:30px">
	JK, I don't tweet. Comedian Lewis Black elaborates.
</p>

<div class="center">
	<iframe width="560" height="315" src="//www.youtube.com/embed/SzNkolUVBlQ" frameborder="0" allowfullscreen></iframe>
</div>

<div class="center" style="margin-top:40px">
	<a href="/#links">
		BACK
	</a>
</div>